{% extends 'layout.twig' %}

{% block content %}

	{% embed "header.twig" %}
	{% endembed %}

	<div class="navigation">
		<div class="folders">
			{% if folder_up is defined %}
				<a class="folder up" title="Parent folder" href="{{ folder_up.url }}"> <img width="16" height="16" src="{{ base_url }}/assets/images/svg/prev.svg" alt="Parent folder"/></a>
			{% endif %}

			{% for folder in folders %}
				<a class="folder" href="{{ folder.url }}">{{ folder.name }}</a>
			{% endfor %}
		</div>
		<div class="other-files">
			{% if other_files|length > 0 %}
				<p class="other-file-header">Files in this folder</p>
				{% for other_file in other_files %}
					<a class="other-file" href="{{ other_file.originalUrl }}">{{ other_file.name }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<div class="content">
		<p id="information"></p>

		{% embed "images.twig" %}
		{% endembed %}

		{% embed "pagination.twig" %}
		{% endembed %}
	</div>

{% endblock %}