{% extends 'layout.twig' %}

{% block content %}

	{% embed "header.twig" %}
	{% endembed %}

	<div id="navigation">

		{% if videos|length > 0 or other_files|length > 0 %}
			<div id="search-files-header"><p class="search-count action">Show&nbsp;{{ videos|length + other_files|length }} file{% if videos|length + other_files|length != 1 %}s{% endif %}</p></div>
			<div id="search-files-container">
				{% if videos|length > 0 %}
					{% for video in videos %}
						<div class="video-links">
							<a href="{{ video.originalUrl }}">Download</a>
							<a href="#" class="play-video" data-url="{{ video.playUrl }}">Play</a>
							{{ video.name }}
						</div>
					{% endfor %}
				{% endif %}

				{% if other_files|length > 0 %}
					<div class="other-files">
						{% for other_file in other_files %}
							<a class="other-file" href="{{ other_file.originalUrl }}">{{ other_file.name }}</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}

		{% if total_nr_images > 0 %}
			<p class="search-count">Found&nbsp;{{ total_nr_images }} image{% if images|length != 1 %}s{% endif %}</p>
		{% else %}
			<p class="search-count">
				No images found
				{% if index_count == 0 %}
					Check if cron is enabled.
				{% endif %}
			</p>
		{% endif %}

	</div>
	<div id="content">

		{% if total_nr_images > 0 %}

			{% set vars = {'origin': 'search'} %}
			{% embed "images.twig" with vars %}
			{% endembed %}

		{% endif %}

		{% embed "pagination.twig" %}
		{% endembed %}

	</div>

{% endblock %}