{% extends 'layout.twig' %}

{% block content %}

	{% embed "header.twig" %}
	{% endembed %}

	{% if other_files|length > 0 %}
		<div class="navigation">
			<p class="search-count">Found {{ other_files|length }} regular file{% if other_files|length != 1 %}s{% endif %} for "{{ q }}"</p>
			<div class="other-files">
				{% for other_file in other_files %}
					<a class="other-file" href="{{ other_file.originalUrl }}">{{ other_file.name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="content">
	{% else %}
		<div class="content wide">
	{% endif %}


	{% if total_nr_images > 0 %}

		<p>Found {{ total_nr_images }} image{% if images|length != 1 %}s{% endif %} for "{{ q }}"</p>

			{% set vars = {'origin': 'search'} %}
			{% embed "images.twig" with vars %}
			{% endembed %}


	{% else %}
		<p>
			No images found for "{{ q }}"

			{% if index_count == 0 %}
				Check if cron is enabled.
			{% endif %}

		</p>

	{% endif %}

	{% embed "pagination.twig" %}
	{% endembed %}

	</div>

{% endblock %}
